.photo-album {
    display:inline-block;
    margin-top: 10px;
}
  
img {
    margin: 1rem;
}
  
button {
    margin: 15px;
    cursor: pointer;
    background-color: rgb(206, 68, 248);
    padding: 1rem;
    border: 1px solid #bebebe;
    border-radius: 4px;
    font-size: 1rem;
}