.top{
    margin: 10px;
    padding: 10px;
    background-color: rgb(235, 172, 210);
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    outline: none;
}
  
a:hover{
    color: darkblue;
}
  
li{
    list-style-type: none;
}
  
ul{
    padding: 4px;
}
  
ul li{
    font-size: 50px;
    margin: 50px;
    display: inline;
}


