input{
    outline: none;
    border-radius: 5px;
    border: gray solid 1px;
    padding: 5px;
    /*transform: scale(1.5);*/
}
  
button{
    background-color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin: 30px;
    font-family: 'Kanit', sans-serif;
    transition: all 0.3s ease;
    /*transform: scale(1.5);*/
    padding-bottom: 3px;
}
  

a{
    background-color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin: 30px;
    font-family: 'Kanit', sans-serif;
    transition: all 0.3s ease;
    padding-bottom: 3px;
}
a:hover{
    color: rgb(153, 15, 153);
}
  