.albums{
    margin: 20px 0px;
}

a {
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    display:inline-table;
    color: rgb(133, 31, 158);
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem 0px .5rem .5rem ;
    box-sizing: border-box;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

@media (min-width: 600px) {
    a {
        width: 18%;
        box-sizing: content-box;
    }
}
  
a:hover {
    cursor: pointer;
    background-color: #000;
}

.delete {
    border: none;
    padding: 5px;
    font-size: 15px;
    transition: 0.2s;
}

.delete:hover {
    /* cursor: pointer; */
    background-color: orangered;
}